@model JobDegreePersonPost
@{
    ViewData["Title"] = $"Degree Job Tracker - {ViewBag.Action} Job";
}
<!-- Alignment Stuff -->
<div class="row justify-content-center">
<div class="col-md-4 row"> 
    <!-- Title Bar -->
    <h1 class="ws-blue-color text-center my-5">@ViewBag.Name - @ViewBag.Action Job</h1>

    <!-- Form to Post-->
    <form asp-action="Job" method="post">
        <div asp-validation-summary="All" class="ws-red-color"></div>

        <!-- Job Title -->
        <div class="col align-self-center mb-3">
            <label asp-for="JobTitle" class="form-label">Job Title <div class="ws-red-color d-inline">*</div></label>
             <input asp-for="JobTitle" class="form-control">
        </div>

        <!-- Business Name -->
        <div class=" col align-self-center mb-4">
            <label asp-for="BusinessName" class="form-label">Business Name</label>
            <input asp-for="BusinessName" class="form-control">
        </div>

        <!-- Salary -->
        <div class=" col align-self-center mb-4">
            <label asp-for="Salary" class="form-label">Salary <div class="ws-red-color d-inline">*</div></label>
            <input asp-for="Salary" class="form-control">
        </div>

        <!-- Description -->
        <div class=" col align-self-center mb-4">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control">
        </div>

        <!-- Degree Dropdown -->
        <div class=" col align-self-center mb-4">
            <label asp-for="DegreeId" class="form-label">Select Degree</label>
            <select asp-for="DegreeId" class="form-select">
                <option value="">select a degree</option>
                @foreach(Degree d in ViewBag.Degrees) {
                    <option value="@d.DegreeId">@d.Type @d.Major</option>
                }
                <option value="None">None</option>
            </select>
        </div>

        <input type="hidden" asp-for="JobId" value="@(Model.JobId != null ? Model.JobId : 0)" />

        <input type="hidden" asp-for="PersonId" value="@(ViewBag.PersonId != null ? ViewBag.PersonId : 0)" />

        <!-- Buttons -->
        <div class="col row align-self-center">
            <a asp-controller="Admin" asp-action="Cancel" asp-route-id="2" class="btn ws-red-bg col mx-3 ws-red-btn">Cancel</a>
            <button type="submit" class="btn ws-blue-bg col mx-3 ws-blue-btn">@ViewBag.Action Job</button>
        </div>
    </form>
</div>
</div>